body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
}

nav ul li {
    margin: 0 15px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

main {
    padding: 20px;
}

.fontes {
    margin-top: 20px;
}

.fontes h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.fontes ul {
    list-style-type: none;
    padding: 0;
}

.fontes ul li {
    margin-bottom: 5px;
}

.fontes ul li a {
    color: #0066cc;
    text-decoration: none;
}

.fontes ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
